<script type="text/javascript" src="https://api.map.baidu.com/library/InfoBox/1.2/src/InfoBox.js"></script>
<script type="text/javascript" src="//api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="//api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>

<style>
  .infoBox {
    width: 300px;
  }
</style>

<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <!-- BEGIN PAGE HEAD-->
  <!-- END PAGE HEAD-->
  <!-- BEGIN PAGE CONTENT BODY -->
  <div class="page-content">
    <div class="container">
      <!-- BEGIN PAGE BREADCRUMBS -->
      <!-- END PAGE BREADCRUMBS -->
      <!-- BEGIN PAGE CONTENT INNER -->
      <div class="page-content-inner">
        <div class="row">
          <div class="col-md-12" id="container" style="height: 500px">
          </div>
          <input type="text" placeholder="搜索地点" id="locate_input" style="position: relative; top: -490px; left: 10px; width: 200px;">
          <div id="searchResultPanel"
               style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
        </div>
        <div class="portfolio-content portfolio-3">
          <div class="clearfix">
            <ul class="list-group">
              <li class="list-group-item blue">
                <span>最新活动</span>
                <span style="float: right;"><a href="/activities">活动总览</a></span>
              </li>
            </ul>
            <!--<div id="js-filters-lightbox-gallery1" class="cbp-l-filters-dropdown cbp-l-filters-dropdown-floated">-->
            <!--<div class="cbp-l-filters-dropdownWrap border-grey-salsa">-->
            <!--<div class="cbp-l-filters-dropdownHeader uppercase">活动</div>-->
            <!--<div class="cbp-l-filters-dropdownList">-->
            <!--<div data-filter="*" class="cbp-filter-item-active cbp-filter-item uppercase"> 所有 (-->
            <!--<div class="cbp-filter-counter"></div> 个) </div>-->
            <!--<div data-filter=".identity" class="cbp-filter-item uppercase"> 最热门 (-->
            <!--<div class="cbp-filter-counter"></div> 个) </div>-->
            <!--<div data-filter=".web-design" class="cbp-filter-item uppercase"> 即将开始 (-->
            <!--<div class="cbp-filter-counter"></div> items) </div>-->
            <!--<div data-filter=".print" class="cbp-filter-item uppercase"> 正在举行 (-->
            <!--<div class="cbp-filter-counter"></div> items) </div>-->
            <!--<div data-filter=".end" class="cbp-filter-item uppercase"> 已结束 (-->
            <!--<div class="cbp-filter-counter"></div> items) </div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div id="js-filters-lightbox-gallery2" class="cbp-l-filters-button cbp-l-filters-left">-->
            <!--<div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn blue btn-outline uppercase">All</div>-->
            <!--<div data-filter=".graphic" class="cbp-filter-item btn blue btn-outline uppercase">Graphic</div>-->
            <!--<div data-filter=".logos" class="cbp-filter-item btn blue btn-outline uppercase">Logo</div>-->
            <!--<div data-filter=".motion" class="cbp-filter-item btn blue btn-outline uppercase">Motion</div>-->
            <!--</div>-->
          </div>
          <div id="js-grid-lightbox-gallery" class="cbp">
            <% for (activity of activities) { %>
            <div class="cbp-item web-design logos identity graphic">
              <a href="/ac_preview/<%= activity.ActivityID %>" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI<br>by Tiberiu Neamu" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                  <img src=<%= activity.Poster %> alt=<%= activity.Theme %>></div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title"><%= activity.Theme %></div>
                      <div class="cbp-l-caption-desc"><%= activity.Location %></div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <% } %>
          </div>
          <!--<div id="js-loadMore-lightbox-gallery" class="cbp-l-loadMore-button">-->
          <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/loadMore3.html" class="cbp-l-loadMore-link btn grey-mint btn-outline" rel="nofollow">-->
          <!--<span class="cbp-l-loadMore-defaultText">LOAD MORE</span>-->
          <!--<span class="cbp-l-loadMore-loadingText">LOADING...</span>-->
          <!--<span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>-->
          <!--</a>-->
          <!--</div>-->
        </div>
      </div>
      <!-- END PAGE CONTENT INNER -->
    </div>
  </div>
  <!-- END PAGE CONTENT BODY -->
  <!-- END CONTENT BODY -->
</div>




<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/portfolio-3.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script type="text/javascript">
  var map = new BMap.Map("container");
  map.addEventListener("tilesloaded", function () {
    $("#container .anchorBL").hide();
  });
  var activities_markers = [];
  var info_boxes = [];
  var labels = [];
  map.enableScrollWheelZoom();
  //  map.centerAndZoom(new BMap.Point(121.225942, 31.295851), 21);
  map.centerAndZoom(new BMap.Point(121.225942, 31.289066), 17);
  //  map.addEventListener("click", function (e) {
  //    console.log("点击位置：" + e.point.lng + ", " + e.point.lat);
  //  });
  if (navigator.geolocation) {
    toastr.success("正在获取地理位置");
    navigator.geolocation.getCurrentPosition(function (position) {
      var convertor = new BMap.Convertor();
      var origin_point = new BMap.Point(position.coords.longitude, position.coords.latitude);
      convertor.translate([origin_point], 1, 5, function (data) {
        if (data.status === 0) {
          var icon = new BMap.Icon("https://omwktgfmo.qnssl.com/star.gif?imageView2/0/w/30", new BMap.Size(30, 30));
          var marker = new BMap.Marker(data.points[0], {icon: icon});
          var label = new BMap.Label("你在这里", {offset: new BMap.Size(-15, -35)});
          label.setStyle({
            color: "black",
            fontSize: "16px",
            height: "25px",
            lineHeight: "20px",
            fontFamily: "微软雅黑",
            border: "1px solid rgb(0, 0, 0)",
            maxWidth: "none"
          });
          map.addOverlay(marker);
          marker.setLabel(label);
          var new_point = new BMap.Point(data.points[0].lng, data.points[0].lat);
          map.centerAndZoom(new_point, 21);
          toastr.success("您的坐标" + data.points[0].lng + ',' + data.points[0].lat);
        }
      });
    })
  }
  else {
    toastr.warning("该浏览器不支持地理位置，无法进行定位，请手动定位")
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 15);
  }

  //获取所有活动
  $.ajax({
    url: "/get_activities",
    method: "GET",
    success: function (activities, status, xhr) {
      //为每一个活动添加一个marker
      for (var i = 0; i < activities.length; i++) {
        var temp = new BMap.Point(parseFloat(activities[i].LocationLng), parseFloat(activities[i].LocationLat));
        var icon = new BMap.Icon("https://omwktgfmo.qnssl.com/red-mark.gif?imageView2/0/w/30", new BMap.Size(30, 30));
        var marker = new BMap.Marker(temp, {icon: icon});
        var label = new BMap.Label(activities[i].Theme, {
          position: temp,
          offset: new BMap.Size(12, -20)
        });
        label.setStyle({
          color: "black",
          fontSize: "16px",
          height: "25px",
          lineHeight: "20px",
          fontFamily: "微软雅黑",
          border: "1px solid rgb(0, 0, 0)",
          maxWidth: "none"
        });
        labels.push(label);

        marker.seq = i;
        activities_markers.push(marker);
        //为每个marker添加点击事件
        var popout_window_html = [
          "<!-- BEGIN Portlet PORTLET-->",
          "<div class='portlet mt-element-ribbon solid green portlet-fit' style='border-radius: 20px!important;'>",
          "<div class='ribbon ribbon-right ribbon-clip ribbon-shadow " + activities[i].StateColor + " uppercase' style='right: -20px;'>",
          "<div class='ribbon-sub ribbon-clip ribbon-right'></div> " + activities[i].State + " </div>",
          "<div class='portlet-title'>",
          "<div class='caption'>",
          "<i class='fa fa-star'></i><a href='/ac/" + activities[i].ActivityID + "' style='color: white'>" + activities[i].Theme + "</a></div>",
          "</div>",
          "<div class='row' style='color: white'>",
          "<div class='portlet-body col-md-6' >",
          "<img src='" + activities[i].Poster + "' style='width: 140px;'>",
          "</div>",
          "<div class='portlet-body col-md-6'>",
          activities[i].HoldTime.toLocaleString(),
          "<br/>",
          "于",
          "<br/>",
          activities[i].Location,
          "<br/>",
          "已有" + activities[i].NowNum + "/" + activities[i].MaxNum + "人参加",
          "</div>",
          "</div>",
          "<img src='https://omwktgfmo.qnssl.com/btm_part.png' style='position: relative; top: 38px;left: 115px;width: 50px;'>",
          "</div>",
          "<!-- END GRID PORTLET-->"
        ];
        var infoBox = new BMapLib.InfoBox(map, popout_window_html.join(""), {
          closeIconUrl: 'https://omwktgfmo.qnssl.com/close-green.png?imageView2/0/w/30',
          closeIconMargin: '-20px',
          enableAutoPan: true
        });
        info_boxes.push(infoBox);
        marker.addEventListener("click", function (target) {
//          console.log(target);
          console.log(this.seq);
          info_boxes[this.seq].open(this);
        });
        marker.addEventListener("mouseover", function (target) {
          map.addOverlay(labels[this.seq]);
//          console.log("mouse over at " + this.seq);
//          console.log(labels[this.seq]);
        });
        marker.addEventListener("mouseout", function (target) {
          map.removeOverlay(labels[this.seq]);
//          console.log("mouse out at " + this.seq);
        });
      }
      var markerClusterer = new BMapLib.MarkerClusterer(map, {
        markers: activities_markers,
        minClusterSize: 5,
        isAverangeCenter: true
      })
    },
    error: function (xhr, status, error) {
      toastr.warning("获取活动信息失败");
    }
  });

  var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
    {
      "input": "locate_input",
      "location": map
    });

  ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
    var str = "";
    var _value = e.fromitem.value;
    var value = "";
    if (e.fromitem.index > -1) {
      value = _value.province + _value.city + _value.district + _value.street + _value.business;
    }
    str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

    value = "";
    if (e.toitem.index > -1) {
      _value = e.toitem.value;
      value = _value.province + _value.city + _value.district + _value.street + _value.business;
    }
    str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
    $("#searchResultPanel").html(str);
  });

  var myValue;
  ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
    var _value = e.item.value;
    myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
    $("#searchResultPanel").html("onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue);
    setPlace();
  });

  function setPlace() {
    function myFun() {
      var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
      map.centerAndZoom(pp, 20);
    }

    var local = new BMap.LocalSearch(map, { //智能搜索
      onSearchComplete: myFun
    });
    local.search(myValue);
  }
</script>
