<script src="https://api.map.baidu.com/api?v=2.0&ak=OmDdyk1DfSWi8to1KNt7bbXEjIPn2O6I&s=1"
        type="text/javascript"></script>
<style type="text/css">
    /*#container{height:100%}*/
</style>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8" id="container" style="height: 500px">

    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row">
    <% for (var index = 0; index < activities.length; index++) { %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-red bold uppercase"><%= activities[index].HoldTime.toLocaleString() %>
                        开始</span>
                    <div class="caption-desc font-grey-cascade"><%= activities[index].Location %></div>
                    <span></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-overlay">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-overlay-5">
                                <% if (activities[index].Poster) { %>
                                <img src="<%= activities[index].Poster %>"/>
                                <% } else { %>
                                <img src="http://image.funnyard.com/default-icon.jpg"/>
                                <% } %>
                                <div class="mt-overlay">
                                    <h2><%= activities[index].Theme %></h2>
                                    <p>
                                        <a class="mt-info uppercase btn default btn-outline"
                                           href="/activity/<%= activities[index].ActivityID %>">活动详情</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<script type="text/javascript">
  var map = new BMap.Map("container");
  map.enableScrollWheelZoom();
  map.centerAndZoom(new BMap.Point(121.225942, 31.295851), 21);
  map.addEventListener("click", function (e) {
    console.log(e.point.lng + ", " + e.point.lat);
  });
  if (navigator.geolocation) {
    toastr.success("支持获取地理位置");
    navigator.geolocation.getCurrentPosition(function (position) {
      toastr.success("来自网页的坐标");
      toastr.success(position.coords.longitude + ',' + position.coords.latitude);
      var convertor = new BMap.Convertor();
      var origin_point = new BMap.Point(position.coords.longitude, position.coords.latitude);
      convertor.translate([origin_point], 1, 5, function (data) {
        if (data.status === 0) {
          var marker = new BMap.Marker(data.points[0]);
          map.addOverlay(marker);
          var new_point = new BMap.Point(data.points[0].lng, data.points[0].lat);
//          map.setCenter(data.points[0]);
          map.centerAndZoom(new_pointghji, 21);
          toastr.success("新坐标");
          toastr.success(data.points[0].lng + ',' + data.points[0].lat);
        }
      });
    })
  }
  else {
    toastr.warning("该浏览器不支持地理位置")
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 15);
  }


</script>