<script type="text/javascript" src="//api.map.baidu.com/library/RichMarker/1.2/src/RichMarker_min.js"></script>
<script type="text/javascript"
        src="//api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript"
        src="//api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8" id="container" style="height: 500px">

    </div>
    <div class="col-md-2">

    </div>
</div>

<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="portfolio-content portfolio-3">
        <div class="clearfix">
            <span>
                近期活动
            </span>
            <span><a href="/activities" style="float: right;">更多活动</a></span>
            <!--<div id="js-filters-lightbox-gallery1" class="cbp-l-filters-dropdown cbp-l-filters-dropdown-floated">-->
                <!--<div class="cbp-l-filters-dropdownWrap border-grey-salsa">-->
                    <!--<div class="cbp-l-filters-dropdownHeader uppercase">活动</div>-->
                    <!--<div class="cbp-l-filters-dropdownList">-->
                        <!--<div data-filter="*" class="cbp-filter-item-active cbp-filter-item uppercase"> 所有 (-->
                            <!--<div class="cbp-filter-counter"></div> 个) </div>-->
                        <!--<div data-filter=".identity" class="cbp-filter-item uppercase"> 最热门 (-->
                            <!--<div class="cbp-filter-counter"></div> 个) </div>-->
                        <!--<div data-filter=".web-design" class="cbp-filter-item uppercase"> 即将开始 (-->
                            <!--<div class="cbp-filter-counter"></div> items) </div>-->
                        <!--<div data-filter=".print" class="cbp-filter-item uppercase"> 正在举行 (-->
                            <!--<div class="cbp-filter-counter"></div> items) </div>-->
                        <!--<div data-filter=".end" class="cbp-filter-item uppercase"> 已结束 (-->
                            <!--<div class="cbp-filter-counter"></div> items) </div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="js-filters-lightbox-gallery2" class="cbp-l-filters-button cbp-l-filters-left">-->
                <!--<div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn blue btn-outline uppercase">All</div>-->
                <!--<div data-filter=".graphic" class="cbp-filter-item btn blue btn-outline uppercase">Graphic</div>-->
                <!--<div data-filter=".logos" class="cbp-filter-item btn blue btn-outline uppercase">Logo</div>-->
                <!--<div data-filter=".motion" class="cbp-filter-item btn blue btn-outline uppercase">Motion</div>-->
            <!--</div>-->
        </div>
        <div id="js-grid-lightbox-gallery" class="cbp">
            <% for (activity of activities) { %>
            <div class="cbp-item web-design logos identity graphic">
                <a href="/ac_preview/<%= activity.ActivityID %>" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI<br>by Tiberiu Neamu" rel="nofollow">
                    <div class="cbp-caption-defaultWrap">
                        <img src=<%= activity.Poster %> alt=<%= activity.Theme %>> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title"><%= activity.Theme %></div>
                                <div class="cbp-l-caption-desc"><%= activity.Location %></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
            <!--<div class="cbp-item web-design graphic print motion">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget<br>by Paul Flavius Nechita" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/01.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">World Clock Widget</div>-->
                                <!--<div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="cbp-item web-design logos identity graphic">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI<br>by Tiberiu Neamu" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/1.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">Bolt UI</div>-->
                                <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="cbp-item graphic print identity">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="WhereTO App<br>by Tiberiu Neamu" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/02.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">WhereTO App</div>-->
                                <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="cbp-item web-design motion logos">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="iDevices<br>by Tiberiu Neamu" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/2.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">iDevices</div>-->
                                <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="cbp-item identity graphic print">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/03.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">Seemple* Music for iPad</div>-->
                                <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="cbp-item motion print logos web-design">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="Remind~Me Widget<br>by Tiberiu Neamu" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/3.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">Remind~Me Widget</div>-->
                                <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="cbp-item graphic logos">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="Workout Buddy<br>by Tiberiu Neamu" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/04.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">Workout Buddy</div>-->
                                <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="cbp-item identity print logos motion">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="Digital Menu<br>by Cosmin Capitanu" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/4.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">Digital Menu</div>-->
                                <!--<div class="cbp-l-caption-desc">by Cosmin Capitanu</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="cbp-item identity motion web-design">-->
                <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="Holiday Selector<br>by Cosmin Capitanu" rel="nofollow">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="//omwkklawt.qnssl.com/global/img/portfolio/600x600/05.jpg" alt=""> </div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignLeft">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<div class="cbp-l-caption-title">Holiday Selector</div>-->
                                <!--<div class="cbp-l-caption-desc">by Cosmin Capitanu</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        </div>
        <!--<div id="js-loadMore-lightbox-gallery" class="cbp-l-loadMore-button">-->
            <!--<a href="//omwkklawt.qnssl.com/global/plugins/cubeportfolio/ajax/loadMore3.html" class="cbp-l-loadMore-link btn grey-mint btn-outline" rel="nofollow">-->
                <!--<span class="cbp-l-loadMore-defaultText">LOAD MORE</span>-->
                <!--<span class="cbp-l-loadMore-loadingText">LOADING...</span>-->
                <!--<span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</div>
<br/>
<!-- END PAGE CONTENT INNER -->


<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/portfolio-3.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script type="text/javascript">
  var map = new BMap.Map("container");
  var activities_markers = [];
  map.enableScrollWheelZoom();
  map.centerAndZoom(new BMap.Point(121.225942, 31.295851), 21);
  map.addEventListener("click", function (e) {
    console.log("点击位置：" + e.point.lng + ", " + e.point.lat);
  });
  if (navigator.geolocation) {
    toastr.success("支持获取地理位置");
    navigator.geolocation.getCurrentPosition(function (position) {
      toastr.success("来自网页的坐标" + position.coords.longitude + ',' + position.coords.latitude);
      var convertor = new BMap.Convertor();
      var origin_point = new BMap.Point(position.coords.longitude, position.coords.latitude);
      convertor.translate([origin_point], 1, 5, function (data) {
        if (data.status === 0) {
          var marker = new BMap.Marker(data.points[0]);
          map.addOverlay(marker);
          var new_point = new BMap.Point(data.points[0].lng, data.points[0].lat);
//          map.setCenter(data.points[0]);
          map.centerAndZoom(new_point, 21);
          toastr.success("新坐标" + data.points[0].lng + ',' + data.points[0].lat);
        }
      });
    })
  }
  else {
    toastr.warning("该浏览器不支持地理位置")
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 15);
  }

  $.ajax({
    url: "/get_activities",
    method: "GET",
    success: function (activities, status, xhr) {
//      activities_markers;
      for (i in activities) {
        var temp = new BMap.Point(parseFloat(activities[i].LocationLng), parseFloat(activities[i].LocationLat));
        var marker = new BMap.Marker(temp);
//        map.addOverlay(marker);
        activities_markers.push(marker);
      }
      var markerClusterer = new BMapLib.MarkerClusterer(map, {
        markers: activities_markers,
        minClusterSize: 5,
        isAverangeCenter: true
      })
      console.log(activities);
    },
    error: function (xhr, status, error) {

    }
  });

  //  $("div.anchorBL").hide();

</script>