<!--按照创建时间排序-->
<!--正在进行的green-seagreen，未开始blue，结束grey-salt-->
<!--功能：全屏，收起，删除活动-->
<style>
    .popover-title {
        color: #0f0f0f;
    }
    .popover-content .btn-group .btn-success {
        margin-right: 20px;
    }
</style>
<div class="page-content-wrapper">
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>管理您发布的活动
                    <!--<small>boxed bootstrap portlet samples</small>-->
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="page-content-inner">
                <div class="row" align="center">
                    <% state_map = {
                        "NOT_STARTED_YET": "blue",
                        "ING": "green-seagreen",
                        "ENDED": "grey-salt"
                    } %>
                    <% for(activity of publisher.Publish) { %>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <!-- BEGIN Portlet PORTLET-->
                        <div class="portlet box <%= state_map[activity.State] %>">
                            <div class="portlet-title">
                                <div class="caption">
                                    <a href="/ac/<%= activity.ActivityID %>" style="color: white;"><%= activity.Theme %></a>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                    <!--<a href="" class="fullscreen"> </a>-->
                                    <!--<a href="#portlet-config" data-toggle="modal" class="config"> </a>-->
                                </div>
                                <div class="actions">
                                    <button class="btn btn-sm btn-default delete-ac" data-toggle="confirmation" data-singleton="true" style="color: white;" title="操作不可撤回，确认删除活动吗？">
                                        <input type="hidden" class="ac-id" value="<%= activity.ActivityID %>">
                                        <i class="fa fa-close" style= "color: white;"></i> 删除 </button>
                                </div>
                                <span class="caption" style="font-size: 13px; padding-top: 14px;">
                                    &nbsp(<%= activity.status %>)
                                </span>
                            </div>
                            <div class="portlet-body">
                                <div class="scroller" style="height:200px" data-rail-visible="1"
                                     data-rail-color="white"
                                     data-handle-color="#a1b2bd">
                                    <%- activity.Content %>
                                </div>
                            </div>
                     s   </div>
                        <!-- END Portlet PORTLET-->
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $('.delete-ac').on('confirmed.bs.confirmation', function () {
    console.log("confirm");
    var result;
    for (node of this.childNodes) {
      if (node.className == "ac-id") {
        $.ajax({
          url: '/remove_activity',
          type: 'POST',
          data: {
            aid: node.value
          },
          success: function (result,status,xhr) {
            toastr.success("删除成功");
            console.log("result");
            console.log(result);
            location.reload(true);
          },
          error: function (xhr,status,error) {
            toastr.warning("删除失败");
            console.log("error");
            console.log(error);
          }
        });
      }
    }
  });
</script>
